target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Logs ###
zlogs/*

# Docker volumes (keep folders but ignore contents)
infrastructure/docker-compose/volumes/kafka/**/*
!infrastructure/docker-compose/volumes/kafka/**/.gitkeep

infrastructure/docker-compose/volumes/zookeeper/**/*
!infrastructure/docker-compose/volumes/zookeeper/**/.gitkeep

infrastructure/docker-compose/volumes/database/**/*
!infrastructure/docker-compose/volumes/database/**/.gitkeep

infrastructure/docker-compose/volumes/logstash/**/*
!infrastructure/docker-compose/volumes/logstash/**/.gitkeep